/* nav related style  */


body{
    font-family: "Open Sans", serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color:black;
    font-family: open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary{
    color: #FD6E0A;

}

nav> ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

a{
    text-decoration: none;
    color: black;
}

.btn-primary{
    border-radius: 5px; 
    background-color: #FD6E0A;
    padding: 15px 35px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
    
}

.header{

    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

#pp{
    width: 500px;
}